#html {
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: bold;
	src: url('../fonts/GothamCondensed-Bold.ttf');
}

@font-face {
	font-family: medium;
	src: url('../fonts/GothamCondensed-Medium.ttf');
}

@font-face {
	font-family: book;
	src: url('../fonts/GothamCondensed-Book.ttf');
}



#body {
	width: 100%;
	height: 100%;

}

canvas { width: 100%; height: 100% }


#sensorPage.active{
	width: 100%;
	height: 100%;
	position: absolute;
	/*background-color: rgb(20,20,20);*/
}

#sensorPage.inActive{
	display: none;
}

#sensorPage #sensor{
	width: 100%;
	height: 700px;
	/*position: absolute;*/
	background-color: rgb(20,20,20);
}

#sensorPage #viewTrick{
	width: 300px;
	height: 300px;
	margin-left: -150px;
	left: 50%;
	background:url('../images/sensor.png');
	background-size: cover;
	cursor: pointer;
	position: absolute;
	margin-top: 130px;
}
#sensorPage #ready_text{
	width: 400px;
	height: 50px;
	
	position: absolute;
	margin-top: 450px;
	margin-left: -200px;
	left: 50%;
	text-align: center;
	color: white;
	letter-spacing: 1px;
	font-family: medium;
	font-size: 40px;
}
#sensorPage #ready_text p{ 
	font-size: 18px;
	font-family: book;
	margin-top: 5px;
	letter-spacing: 1px;
}
/*#sensorPage #ready_text h2{
	color: white;
	text-align: center;
	margin-top: 400px;
	font-family: medium;

}*/

/*#sensorPage #previusTricks{
	width: 100%;
	background-color: red; 
	height: 500px;
	background-color: rgb(184, 228, 20);
	position: absolute;
	margin-top: 800px;

}*/

#sensorPage .trick#trick_one{
	width: 950px;
	margin-top: 40px;
	height: 534px;
	margin-left: -475px;
	left: 50%;
	position: absolute;
	cursor: pointer;
	background: url('../images/trick_one_final2.jpg');
	background-size: cover;
}

#sensorPage .trick#trick_two{
	width: 950px;
	margin-top: 614px;
	height: 534px;
	margin-left: -475px;
	left: 50%;
	position: absolute;
	cursor: pointer;
	background: url('../images/trick_two_final2.jpg');
	background-size: cover;
}


#sensorPage .trick#trick_three{
	width: 950px;
	margin-top: 1188px;
	height: 534px;
	margin-left: -475px;
	left: 50%;
	position: absolute;
	cursor: pointer;
	background: url('../images/trick_three_final2.jpg');
	background-size: cover;
	padding-bottom: 40px;
}


/*#sensorPage #previusTricks .trick#trick_one{
	background: url('../images/trick_one_final.jpg');
	background-size: cover;
}*/

/*#sensorPage #previusTricks .trick#trick_two{
	background: url('../images/trick_two_final.jpg');
	background-size: cover;
}

#sensorPage #previusTricks .trick#trick_three{
	background: url('../images/trick_three_final.jpg');
	background-size: cover;
}*/


/*#sensorPage #trickTest {
	width: 350px;
	height: 197px;
	margin-left: 20px;
	background-color: red;
	cursor: pointer;
	float: left;
}*/





/* Visualization page -------------------------------------------------------------------- */
#visualizationPage.inActive{
	display: none;
}

#visualizationPage.active{
	width: 100%;
	height: 100%;
	position: absolute;
/*	background-color: yellow;*/
}

#visualizationPage.active #close{
	width: 50px;
	height: 50px;
	position: absolute;
	right: 0;
	/*background-color: rgb(184, 228, 20);*/
	cursor: pointer;
	background: rgb(184, 228, 20) url('../images/quit2.png');
	background-size: cover;
}

#visualizationPage.active #data{
	width: 1000px;
	height: 100px;
	position: absolute;
	left: 50%;
	margin-left: -500px;
	bottom: 100px;
}

#visualizationPage.active #data .dataItem{
	width: 200px;
	height: 100px;
	float: left; 
	margin-left: 40px;

}

#visualizationPage.active #data .dataItem#speed h2{
	margin-left: 50px;
}

#visualizationPage.active #data .dataItem#distance h2{
	margin-left: 5px;
}

#visualizationPage.active #data .dataItem#airtime h2{
	margin-left: 38px;
}

#visualizationPage.active #data .dataItem#altitude h2{
	margin-left: 20px;
}


#visualizationPage.active #data .dataItem .icon{
	width: 50px;
	height: 50px;
	float: left;

}

#visualizationPage.active #data .dataItem .number{
	font-family: medium;
	font-size: 45px;
	letter-spacing: 2px;
	margin-left: 60px;
	margin-top: 8px;
	color: white;
}

#visualizationPage.active #data .dataItem span{
		font-size: 25px;
		margin-top: -15px;
}

#visualizationPage.active #data .dataItem h2{
	font-family: book;
	font-size: 25px;
	color: rgb(150,150,150);
	letter-spacing: 2px;
	margin-top: 10px;
	
}




#visualizationPage.active #data .dataItem#speed .icon{

	background: url('../images/speed.png');
	background-size: cover;
}

#visualizationPage.active #data .dataItem#distance .icon{

	background: url('../images/distance.png');
	background-size: cover;
}

#visualizationPage.active #data .dataItem#airtime .icon{

	background: url('../images/airtime.png');
	background-size: cover;
}

#visualizationPage.active #data .dataItem#altitude .icon{

	background: url('../images/altitude.png');
	background-size: cover;
}