#html {
	width: 100%;
	height: 100%;
}


#body {
	width: 100%;
	height: 100%;

}



#sensorPage.active{
	width: 100%;
	height: 100%;
	position: absolute;
/*	background-color: yellow;*/
}

#sensorPage.inActive{
	display: none;
}



#sensorPage #viewTrick{
	width: 100px;
	height: 100px;

	background-color: black;
	cursor: pointer;
	float: left;
}


#sensorPage #trickTest {
	width: 100px;
	height: 100px;
	margin-left: 20px;
	background-color: red;
	cursor: pointer;
	float: left;
}





/* Visualization page -------------------------------------------------------------------- */
#visualizationPage.inActive{
	display: none;
}

#visualizationPage.active{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: yellow;
}

#visualizationPage.active #close{
	width: 50px;
	height: 50px;
	float: right;
	background-color: black;
	cursor: pointer;
}